<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>New Type</h1>
<form action="#" th:action="@{/newtype}" method="get">
    <label for="fname">Id:</label><br>
    <input type="text" id="fname" name="id"><br>
    <label for="lname">display name:</label><br>
    <input type="text" id="lname" name="diplayname">
    <input type="submit" value="Submit" />
</form>

<hr>

<form action="/newtype2">
    <label for="fname">Id:</label><br>
    <input type="text" id="fname" name="id"><br>
    <input type="submit" value="Submit" />
</form>

</body>
</html>