<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div th:replace="fragments/basic :: header">
    ...
</div>
<div class="container">
    <div layout:fragment="content">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">New Objekttyp</h1>
                <p class="lead">Definiere einen neuen Objekttypen mit id und display name</p>
            </div>
        </div>


        <form action="/newtype2">
            <div class="form-group">
                <label for="idInput">Id</label>
                <input type="text" class="form-control" id="idInput" name="id" aria-describedby="idHelp" placeholder="Enter type id">
                <small id="idHelp" class="form-text text-muted">Eindeutige sprechende id fuer den Typ. z.b. buch</small>
            </div>
            <div class="form-group">
                <label for="displayNameInput">Display Name</label>
                <input type="text" class="form-control" id="displayNameInput" name="dn" placeholder="display name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div th:replace="fragments/basic :: footer">&copy; 2014 The Static Templates</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>